#timeLineControlEstado{
/*    text-align:center;*/
    pading: 0 0 0;
}

#timeLineControlEstado {
    display: block;
    clear: both;
    float: left;
    width: 96%;
    margin: 0 1%;
    padding: 0% 1% 1%;
    background-color: #fff;
}

#barraNavegacion{
    width: 960px;
    margin-bottom: 0px;
}

#papaArriba{
    position: relative;
}

#papaArriba #nivelesAlertas{
    position: absolute;
    top: -10px;
    right: 0px;
    background-color: #fff;
    padding-left: 10px;
}
#papaArriba #nivelesAlertas img{
    width: 250px;
}


#timeLineControlEstado svg{
   display: inline-block;
    margin-right: 40px;
}

#ponderacion{

    display:block;
    clear:both;
    float:left;
    width: 480px;
    padding-top: 20px;
    background-color: #eee;
    padding: 10px;
}

#ponderacion table {
    width: 40%;
    border: solid 1px #ddd;
    border-collapse: collapse;
    float: right;
    background-color: #fff;
}

#ponderacion table th, #ponderacion table td, #ponderacion table tr{

    font-weight: 300;
    font-size: 10pt;
    text-align: left;
    padding: 2px;
    border-bottom: 1px solid #ddd;
}

#ponderacion tr:nth-child(even) {background-color: #f2f2f2}

#ponderacion th{
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: #044265;
    color: white;
}

#ponderacion button{
    background-color: #044265;
    color: #fff;
    border: none;
}

.axis text {
  font: 11px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
