div.tooltip {	
    position: absolute;
    font-size: 9px;
    padding: 15px;
    width: 260px;					
    //height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: white;	
    border: solid 1px #333;		
   		
    pointer-events: none;			
}

#timeLineControlEstado{
   text-align:center;
    pading: 0 0 0;
}

#timeLineControlEstado {
    display: inline-block;
    clear: both;
    float: left;
    width: 560px;
    margin-left: 20px;
    margin-bottom: 15px;
    
    
    background-color: #fff;
}

#mapaConReportesEstado {
    width: 100%;
    display: block;
    clear: both;
    float: left;
    position: relative;
}

#barraNavegacion{
    width: 100%;
    margin-bottom: 0px;
}

#fechaSeleccion{
    font-size: 10pt;
    padding-bottom: 5px;
    text-align: left;
    margin-left: 25px;
    

}

#desde, #hasta{
    color: blue;
}

#papaArriba{
    position: relative;
}



#nivelesAlertas{

    display:block;
    clear:both;
    float:right;
    text-align: right;
    background-color: #fff;
    padding-left: 10px;
    margin-top: 12px;
}
#nivelesAlertas img{
    width: 200px;
}


#timeLineControlEstado svg{
   display: inline-block;
    margin-right: 40px;
}

#ponderacion{

    display:block;
    clear:none;
    float:left;
    width: 120px;
    height: 430px;
    padding-top: 20px;
    background-color: #eee;
    padding: 10px;
}

#ponderacion table {
    width: 100%;
    border: solid 1px #ddd;
    border-collapse: collapse;
    float: right;
    background-color: #fff;
}

#ponderacion table th, #ponderacion table td, #ponderacion table tr{

    font-weight: 300;
    font-size: 10pt;
    text-align: left;
    padding: 2px;
    border-bottom: 1px solid #ddd;
}

#ponderacion tr:nth-child(even) {background-color: #f2f2f2}

#ponderacion table th{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 10px;
    background-color: #044265;
    color: white;
}

#ponderacion button{
    background-color: #044265;
    color: #fff;
    border: none;
}
#EstadoDerecho{
    width: 650px;
        display:block;
    clear:none;
    float:left;
    position:relative;

}
#EstadoDerecho h3.titulosArriba{
    
    display:block;
    clear:both;
    float:left;
    padding-left: 40px;
    font-size: 8pt;
}

#graficaCoordenadasParalelas{

    left: 0px;
    width:630px;
/*    height:462px;*/
    height:182px;
    display:block;
    clear:both;
    float:left;
    margin-left: 0px;
}

#reseteoBrushParalel{
    float: right;
}


#graficaCoordenadasParalelas .foreground path {
  fill: none;
  stroke: steelblue;
}

#graficasemanas{
    margin-left: 40px;
    width:560px;
    display:block;
    clear:both;
    float:left;
    height: 150px;
    margin-bottom: 15px;
   
  
}
#graficasemanas svg{
    width: 560px;
    padding: 0px;
    margin: 0px;
    display: block;
    width:100%;
    display:block;
    clear:both;
    float:left;
}

#mapasCadauno{
        width: 650px;
        display:block;
    clear:both;
    float:left;

    margin-left: 35px;

}
#mapEstado{
    width: 448px;
    min-height: 448px;
    max-height: 448px !important;
 border: solid 1px #ddd;

}
.leaflet-container{
  font-family: 'Oswald',
    sans-serif/*{global-font-family}*/
    ;
}






#ConfiguracionEstadoGeneral{
    width: 450px;
    display:block;
    clear:none;
    float:left;

}



#mapaConReportesEstado #mapEstado{
    display:block;
    clear:none;
    float:left;



}
.wrapperMapas{
    width: 90px;
   display:block;
    clear:none;
    float:left;
     margin: 0px 0px 0px 0px ;
}
#mapaPolicia, #mapaArboles, #mapaBasuras, #mapaAcceso, #mapaJuegos, #mapaSillas, #mapaLuz{
    width: 90px;
    min-height: 90px;
    max-height: 90px !important;
    background-color: #fff;


}

.wrapperMapas h3, #nivelesAlertas h3{
    display: block;
    clear: both;
    float: left;
    width: 100%;
    font-size: 10px;
    font-weight: normal;
    background-color: white;
    margin-top: 5px;
}
.wrapperMapas h3 img{
    width: 20px;
    display:block;
    clear:none;
    float:left;
    margin-right: 3px;
    margin-top: -5px
}


#mapEstado.leaflet-container, #map.leaflet-container {
    background-color: #fff !important;

}

/*Estilos para pop-up*/
#popUpPoligono{
    font-size: 11px;
    overflow: hidden;
    width: 135px;
}

#popUpPoligono #tituloPop{
/*     width: 250px;*/
}
#popUpPoligono img{
    display:block;
    clear:none;
    float:left;
    width: 20px;
}
#popUpPoligono span{
    font-weight: normal;
    width:15px;
    display:block;
    clear:none;
    float:left;
    margin: 0px;
    padding: 3px 0px 0px 3px;
}
#popUpPoligono div div{
    width: 40px;
    display:block;
    clear:none;
    float:left;
    margin: 0px 5px 5px 0px;
}
#popUpPoligono #elementosUsados{
    width:100%;
    display:block;
    clear:both;
    float:left;
}
#popUpPoligono .divBotonEnviar{
     width: 100%;
    display:block;
    clear:both;
    float:left;

    margin: 5px 0px 0px;
}
#popUpPoligono a#popupFormulario {

background-color:#ff4343;
color:#fff;
cursor:pointer;
     padding: 5px 5px;
    height: 20px;
    line-height: 20px;
}


/*Linea de tiempo*/

.axis text {
  font: 11px sans-serif;
}

#timeLineControlEstado .axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


#graficaCoordenadasParalelas svg g.axis path{
    stroke-width:2px;

}

#graficaCoordenadasParalelas svg g:nth-child(1) .axis path{
    stroke:#0070bb;
}
#graficaCoordenadasParalelas svg g:nth-child(1) g.brush rect.extent{
    fill:#0070bb !important;
}
#graficaCoordenadasParalelas svg g:nth-child(2) .axis path{
    stroke:#30bb51;
}
#graficaCoordenadasParalelas svg g:nth-child(2) g.brush rect.extent{
    fill:#30bb51 !important;
}
#graficaCoordenadasParalelas svg g:nth-child(3) .axis path{
    stroke:#bc6731;
}
#graficaCoordenadasParalelas svg g:nth-child(3) g.brush rect.extent{
    fill:#bc6731 !important;
}
#graficaCoordenadasParalelas svg g:nth-child(4) .axis path{
    stroke:#ffb92e;
}
#graficaCoordenadasParalelas svg g:nth-child(4) g.brush rect.extent{
    fill:#ffb92e !important;
}
#graficaCoordenadasParalelas svg g:nth-child(5) .axis path{
    stroke:#e31b20;
}
#graficaCoordenadasParalelas svg g:nth-child(5) g.brush rect.extent{
    fill:#e31b20 !important;
}
#graficaCoordenadasParalelas svg g:nth-child(6) .axis path{
    stroke:#5a31bc;
}
#graficaCoordenadasParalelas svg g:nth-child(6) g.brush rect.extent{
    fill:#5a31bc !important;
}
#graficaCoordenadasParalelas svg g:nth-child(7) .axis path{
    stroke:#dfdc13;
}
#graficaCoordenadasParalelas svg g:nth-child(7) g.brush rect.extent{
    fill:#dfdc13 !important;
}

#graficaCoordenadasParalelas svg g:nth-child(8) g.axis g.tick text{
    font-size: 8px;
}


