#timeLineControlEstado{
/*    text-align:center;*/
    pading: 0 0 0;
}

#timeLineControlEstado {
    display: block;
    clear: both;
    float: left;
    width: 96%;
    margin: 0 1%;
    padding: 0.5% 1% 2%;
    background-color: #fff;
}

#mapaConReportesEstado {
    width: 100%;
    display: block;
    clear: both;
    float: left;
    position: relative;
}

#barraNavegacion{
    width: 930px;
    margin-bottom: 0px;
}

#fechaSeleccion{
    font-size: 11pt;
    padding-bottom: 5px;

}

#desde, #hasta{
    color: blue;
}

#papaArriba{
    position: relative;
}

#papaArriba #nivelesAlertas{
    position: absolute;
    top: -10px;
    right: 0px;
    background-color: #fff;
    padding-left: 10px;
}
#papaArriba #nivelesAlertas img{
    width: 200px;
}


#timeLineControlEstado svg{
   display: inline-block;
    margin-right: 40px;
}

#ponderacion{

    display:block;
    clear:none;
    float:left;
    width: 120px;
    height: 430px;
    padding-top: 20px;
    background-color: #eee;
    padding: 10px;
}

#ponderacion table {
    width: 100%;
    border: solid 1px #ddd;
    border-collapse: collapse;
    float: right;
    background-color: #fff;
}

#ponderacion table th, #ponderacion table td, #ponderacion table tr{

    font-weight: 300;
    font-size: 10pt;
    text-align: left;
    padding: 2px;
    border-bottom: 1px solid #ddd;
}

#ponderacion tr:nth-child(even) {background-color: #f2f2f2}

#ponderacion table th{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 10px;
    background-color: #044265;
    color: white;
}

#ponderacion button{
    background-color: #044265;
    color: #fff;
    border: none;
}


#mapasCadauno{
        width: 650px;
        display:block;
    clear:none;
    float:left;

    position: absolute;
    bottom: 0;
    right: 0;




}
#mapEstado{
    width: 450px;
    min-height: 450px;
    max-height: 450px !important;


}
.leaflet-container{
  font-family: 'Oswald',
    sans-serif/*{global-font-family}*/
    ;
}






#ConfiguracionEstadoGeneral{
    width: 450px;
    display:block;
    clear:none;
    float:left;

}



#mapaConReportesEstado #mapEstado{
    display:block;
    clear:none;
    float:left;


}
.wrapperMapas{
    width: 90px;
   display:block;
    clear:none;
    float:left;
     margin: 0px 0px 0px 0px ;
}
#mapaPolicia, #mapaArboles, #mapaBasuras, #mapaAcceso, #mapaJuegos, #mapaSillas, #mapaLuz{
    width: 90px;
    min-height: 90px;
    max-height: 90px !important;
    background-color: #fff;


}

.wrapperMapas h3{
    display: block;
    clear: both;
    float: left;
    width: 100%;
    font-size: 10px;
    font-weight: normal;
    background-color: white;
    margin-top: 5px;
}
.wrapperMapas h3 img{
    width: 20px;
    display:block;
    clear:none;
    float:left;
    margin-right: 3px;
    margin-top: -5px
}


#mapEstado.leaflet-container, #map.leaflet-container {
    background-color: #fff !important;

}

/*Estilos para pop-up*/
#popUpPoligono{
    font-size: 11px;
    overflow: hidden;
    width: 250px;
}

#popUpPoligono #tituloPop{
     width: 250px;
}
#popUpPoligono img{
    display:block;
    clear:none;
    float:left;
    width: 25px;
}
#popUpPoligono span{
    font-weight: bold;
    width:15px;
    display:block;
    clear:none;
    float:left;
    margin: 0px;
    padding: 7px 0px 0px 5px;
}
#popUpPoligono div div{
    width: 60px;
    display:block;
    clear:none;
    float:left;
}


/*Linea de tiempo*/

.axis text {
  font: 11px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
