@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Oswald-Bold.ttf);
}

img,
object,
embed,
video {
    max-width: 100%;
}


/* Para todos y Móviles: hasta 480px*/
.brush .extent {
    fill: #044265 !important;

  stroke: #000;
  fill-opacity: .7 !important;
  shape-rendering: crispEdges;
}

body {
    font-size: 10pt;
    line-height: 1.3;
    font-weight: 300;
    font-family: 'Oswald',
    sans-serif/*{global-font-family}*/
    ;
    color: #333;
    background-color: #eaeced;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0
}
h1{
    font-size: 140%;
    padding-top: 1%;
}
h3{
    font-size: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}
#barraNavegacion {
    width:100%;
    display:block;
    clear:both;
    float:left;
    background-color: #BBB;
    height: 30px;
    margin: 10px 0 20px;
}
#barraNavegacion a:link,#barraNavegacion a:visited{
    display:block;
    clear:none;
    float:left;
    width: auto;
    padding: 0 20px;
    line-height: 30px;
    font-family: 'Montserrat';
    color: #666;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;font-size: 11px;


}
#barraNavegacion a:hover, #barraNavegacion a:active, #barraNavegacion a#actual:link,#barraNavegacion a#actual:visited {
    background-color: #044265;
    color: #fff;
}

header,
#contenedorlineaDeTiempoVieja,
#contenedorPrincipal,
#contenedorTiempo,#tablaReportes{
    display: block;
    clear: both;
    float: left;
    width: 96%;
    margin: 0 1%;
    padding: 0% 1% 1%;
    background-color: #fff;
}




#contenedorTiempo{
    font-size: 10px;
}

#lineaDetiempo{
    /* text-align:center; */
}
#lineaDetiempo svg{
/*   display: inline-block;*/
}

#lineaDetiempo{
    width:100%;
    display:block;
    clear:both;
    float:left;

}

#lineaDetiempo #rango{
    padding-left: 30px;

}
#lineaDetiempo #rango #textofijo{
    display:block;
    clear:none;
    float:left;
}
#lineaDetiempo span.filter{
    display:block;
    clear:none;
    float:left;
    width: 30%;

/*    color: #cc0000;*/
      color: blue;
    font-weight: 400;



}

#lineaDetiempo .background{

    visibility: visible !important;
    fill:rgb(187, 187, 187);
}

.dc-chart .grid-line line{
    stroke:#fff !important;
}

.dc-chart path.line {
    fill: none;
    stroke-width: 1px;
    stroke-opacity:0.1;
}
.dc-chart .selected path {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart path.highlight {
    stroke-width: 3;
    fill-opacity: 1;
    stroke-opacity: 1;
}

.dc-chart .fadeout {
    fill-opacity: 0.2;
    stroke-opacity: 0;
}

#lineaDetiempo svg{
    background-color: #fff;


}
header {}
#filtrosTotales{
    font-size: 12pt;
    padding-left: 55px;
    max-width: 1095px;
}
#filtrosTotales span{
/*    color: #cc0000;*/
      color: blue;
    font-weight: 400;

}
#contenedorlineaDeTiempoVieja {}

#contenedorPrincipal {}

#categorias {
     width: 1080px;
    padding: 0px 30px;
    display: block;
    clear: both;
    float: left;

}

#mapaConReportes {
    width: 1080px;
    padding: 0px 30px;
    display: block;
    clear: both;
    float: left;
    position: relative;
}


#map {
    width: 350px;
    min-height: 350px;
    max-height: 350px !important;
    display:block;
    clear:none;
    float:left;
    background-color: #fff;
    border: solid 1px #ddd;
}

#wrapperHome,#filtrosTotales{
    max-width: 1140px;
    margin: 0 auto;
}


.leaflet-control-zoom, .leaflet-control-scale-line, .leaflet-control-attribution{
    visibility: hidden;
}

#map .leaflet-control-zoom,#map .leaflet-control-scale-line,#map .leaflet-control-attribution{
    visibility:visible;
}
 #usuariosPorReporte{
        width: 400px;
        clear: none
    }
    #reportesRespondidos {
        width: 180px;
        clear: none;
    }
#contenedorTiempo {}

#contenedorTiempo h3{
    font-size: 8pt;
}

#graficaAnual,
#graficaMensual,
#graficaDiaria,
#graficaDiaNoche {
    width: 100%;
    display: block;
    clear: both;
    float: left;
    padding-bottom: 3%;
}
#graficaMensual{
    border-right: solid 1px #ddd;
    box-sizing: border-box;

}
#usuariosPorReporte{
    padding-left: 20px;
    box-sizing: border-box;
}

#derecha{
    display:block;
    clear:none;
    float:left;
    width: 580px;
    margin-left: 20px;


}
/*Chambonada de la grafica de los totales*/

#reportesTotales rect{
     width: 40px !important;
}

#reportesTotales g.sub._0{
     transform: translate(52px,0px);


}
#reportesTotales g.sub._1{
    transform: translate(122px,0px);
}
#reportesTotales g.sub._2{
    transform: translate(190px,0px);
}
#reportesTotales g.sub._3{
    transform: translate(258px,0px);
}

#reportesTotales g.sub._4{
    transform: translate(328px,0px);
}

#reportesTotales g.sub._5{
    transform: translate(398px,0px);
}
#reportesTotales g.sub._6{
    transform: translate(468px,0px);
}



#arriba{
    width:100%;
    display:block;
    clear:both;
    float:left;
    margin-bottom: 20px;
}
#abajo{
    width:100%;
    display:block;
    clear:both;
    float:left;
}


#data-table {
    width: 955px;
    margin-top: 20px;
    margin-left: 5px;
    border: solid 1px #ddd;
    border-collapse: collapse;
}


#data-table th, #data-table td, #data-table tr{

    font-weight: 300;
    font-size: 10pt;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}


#data-table tr:nth-child(even) {background-color: #f2f2f2}

#data-table th{
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: #044265;
    color: white;
}


.escondeMovil {
    display: none;
}

/*Estilos para pop-up*/
#popUpMarker{
    font-size: 10px;
    overflow: hidden;
}
#popUpMarker span{
    font-weight: bold;
}
#popUpMarker #tituloelementosusados{
    width: 100%;
}
#popUpMarker div{

}
#popUpMarker div div{
    width: 25%;
    display:block;
    clear:none;
    float:left;
    line-height: 14px;
    margin-bottom: 5px;

}
#popUpMarker div div img{
    width:20px;
    display:block;
    clear:none;
    float:left;
}
#popUpMarker div div .valorenpopup{
    display:block;
    clear:none;
    float:left;
    font-weight: bold;
    padding: 3px 0px 0px 2px;
}

#tituloGraficas{
    width:100%;
    display:block;
    clear:both;
    float:left;
}
a.botonReseteo:link, a.botonReseteo:visited {
    display: block;
    clear: both;
    float: left;
    margin: 5px 0;

    padding: 3px;
    background-color: #3182bd;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat';
    font-size: 6pt;

}
a#resetearTodo{
    display: inline;
    clear: none;
    float: none;

}
a.botonReseteo:hover{

    background-color: #a00;


}


/* Tablets: 481px a 768px.*/

@media only screen and (min-width: 481px) {


    .escondeTablet {
        display: none;
    }
}


/* Escritorio viejo: 769px a 1024px. */

@media only screen and (min-width: 769px) {
    #graficaAnual,
    #graficaMensual,
    #graficaDiaria,
    #graficaDiaNoche {
        width: 20%;
        clear: none;
    }
    .esconderEscritorioViejo {
        display: none;
    }
}


/* Escritorio nuevo: 1025px hasta 1320px.*/

@media only screen and (min-width: 1025px) {
    .contenedor {
        width: 88.5%;
        max-width: 1320px;
        padding-left: 0.75%;
        padding-right: 0.75%;
        margin: auto;
        clear: none;
        float: none;
        margin-left: auto;
    }
}


/* Escritorio nuevo: 1025px a 1280px.*/

@media only screen and (min-width: 1025px) {}
