@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Oswald-Bold.ttf);
}

img,
object,
embed,
video {
    max-width: 100%;
}


/* Para todos y Móviles: hasta 480px*/

body {
    font-size: 10pt;
    line-height: 1.3;
    font-weight: 300;
    font-family: 'Oswald',
    sans-serif/*{global-font-family}*/
    ;
    color: #333;
    background-color: #eaeced;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0
}
h1{
    font-size: 140%;
    padding-top: 1%;
}
h3{
    font-size: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

header,
#contenedorlineaDeTiempoVieja,
#contenedorPrincipal,
#contenedorTiempo,#tablaReportes {
    display: block;
    clear: both;
    float: left;
    width: 96%;
    margin: 0 1%;
    padding: 0% 1% 5%;
    background-color: #fff;
}
#contenedorTiempo{
    font-size: 10px;
}

#lineaDetiempo{
    width:100%;
    display:block;
    clear:both;
    float:left;
    background-color: #eee;
    
}
#lineaDetiempo svg{
    background-color: #eee;

    
}
header {}
#filtrosTotales{
    font-size: 12pt;   
}
#filtrosTotales span{
    color: #cc0000;
}
#contenedorlineaDeTiempoVieja {}

#contenedorPrincipal {}

#categorias {
    width: 100%;
    display: block;
    clear: both;
    float: left;
}

#mapaConReportes {
    width: 100%;
    display: block;
    clear: both;
    float: left;
}

#map {
    width: 100%;
    min-height: 300px;
    max-height: 400px !important;
}

#usuariosPorReporte,
#reportesRespondidos {
    width: 100%;
    display: block;
    clear: both;
    float: left;
}

#contenedorTiempo {}

#contenedorTiempo h3{
    font-size: 8pt;
}

#graficaAnual,
#graficaMensual,
#graficaDiaria,
#graficaDiaNoche {
    width: 100%;
    display: block;
    clear: both;
    float: left;
    padding-bottom: 3%;
}
#graficaMensual{
    border-right: solid 1px #ddd;
    box-sizing: border-box;
    
}
#usuariosPorReporte{
    padding-left: 20px;
    box-sizing: border-box;
}
#data-table {
    width: 100%;
    border: solid 1px #ddd;
    border-collapse: collapse;
}


#data-table th, #data-table td, #data-table tr{
   
    font-weight: 300;
    font-size: 10pt;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}


#data-table tr:nth-child(even) {background-color: #f2f2f2}

#data-table th{
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: #044265;
    color: white;
}


.escondeMovil {
    display: none;
}

/*Estilos para pop-up*/
#popUpMarker{
    font-size: 9px;
    overflow: hidden;
}
#popUpMarker span{
    font-weight: bold;
}
#popUpMarker div div{
    width: 50%;
    display:block;
    clear:none;
    float:left;
}


/* Tablets: 481px a 768px.*/

@media only screen and (min-width: 481px) {
    header,#contenedorlineaDeTiempoVieja,
    #contenedorPrincipal,
    #contenedorTiempo, #tablaReportes {
        padding: 0% 1% 1%;
    }
   
    /* MIENTRAS O TENGO CATEGORIAS
    #categorias {
        width: 25%;
        clear: none;
    
    }
    #mapaConReportes {
        width: 75%;
        clear: none;
    } */
  
    
    #usuariosPorReporte{
        width: 40%;
        clear: none
    }
    #reportesRespondidos {
        width: 20%;
        clear: none;
    }
    #graficaAnual,
    #graficaMensual,
    #graficaDiaria,
    #graficaDiaNoche {
        width: 20%;
        clear: none;
    }
    .escondeTablet {
        display: none;
    }
}

#tituloGraficas{
    width:100%;
    display:block;
    clear:both;
    float:left;
}
a.botonReseteo:link, a.botonReseteo:visited {
    display: block;
    clear: both;
    float: left;
    margin: 5px 0;
    
    padding: 3px;
    background-color: #3182bd;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat';
    font-size: 6pt;
    
}
a#resetearTodo{
    display: inline;
    clear: none;
    float: none;
 
}
a.botonReseteo:hover{

    background-color: #a00;

    
}


/* Escritorio viejo: 769px a 1024px. */

@media only screen and (min-width: 769px) {
    #graficaAnual,
    #graficaMensual,
    #graficaDiaria,
    #graficaDiaNoche {
        width: 20%;
        clear: none;
    }
    .esconderEscritorioViejo {
        display: none;
    }
}


/* Escritorio nuevo: 1025px hasta 1320px.*/

@media only screen and (min-width: 1025px) {
    .contenedor {
        width: 88.5%;
        max-width: 1320px;
        padding-left: 0.75%;
        padding-right: 0.75%;
        margin: auto;
        clear: none;
        float: none;
        margin-left: auto;
    }
}


/* Escritorio nuevo: 1025px a 1280px.*/

@media only screen and (min-width: 1025px) {}