<html>

<head>
    <!--Local resources -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/leaflet.css" />
    <script src="js/libs/d3.min.js"></script>
    <script src="js/libs/d3.parcoords.js"></script>
    <script src="js/libs/leaflet.js"></script>
    <!-- <script src="js/libs/leaflet-providers.js"></script> -->
    <script src="js/libs/leaflet.label.js"></script>
    <script src="js/libs/angular.min.js"></script>

    <!-- <script src="js/libs/rzslider.min.js"></script> -->
    <script src="js/controllers/coreEstado.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--estilos -->
    <link rel="stylesheet" href="css/dc.css" />
    <link rel="stylesheet" href="css/viewer.css" />

    <link rel="stylesheet" href="css/leaflet.label.css" />
    <!--pruebas -->
    <link rel="stylesheet" href="css/estilosTimeLineEstado.css" />
    <link rel="stylesheet" href="css/d3.parcoords.css" />




</head>

<body ng-app="my_angular_app">
    <div ng-controller="home_controller">
        <header>
            <h1>Calidad del Espacio público</h1>
            <div id="papaArriba">
                <nav id="barraNavegacion">
                    <a href="index.html">Estado General de la zona</a>
                    <a href="estado.html" id="actual">Estado de las manzanas</a>
                    <a href="monitoreo.html">Alertas Generadas</a>

                </nav>

            </div>
        </header>
        <div id="timeLineControlEstado">
            <div id="fechaSeleccion">Seleccionado desde el <span id="desde"></span> hasta el <span id="hasta"></span></div>
            <script src="js/controllers/timeLineControlEstado.js"></script>

        </div>

        <div id="contenedorPrincipal">
            <div id="categorias">
            </div>
            <button id="reseteoBrushParalel">Resetear</button>
            <!--  <h3>Estado General</h3> -->
            <div id="mapaConReportesEstado">
                <div id="ponderacion">
                    <!-- <h5>Pondere cada una de las categorías:</h5>
                        <p>Asígnele un peso de acuerdo a la importancia que usted quiera darle a cada una de las categorías a analizar y asi ver el estado de cada manzana de acuerdo a ello en el gráfico superior</p> -->
                    <table>
                        <tr>
                            <th colspan="2">Peso ponderado</th>

                        </tr>
                        <tr>
                            <td>Policías</td>
                            <td>
                                <input type="text" ng-model="pesoPolicia" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Árboles</td>
                            <td>
                                <input type="text" ng-model="pesoArboles" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Basuras</td>
                            <td>
                                <input type="text" ng-model="pesoBasuras" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Acceso</td>
                            <td>
                                <input type="text" ng-model="pesoAcceso" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Juegos</td>
                            <td>
                                <input type="text" ng-model="pesoJuegos" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Sillas</td>
                            <td>
                                <input type="text" ng-model="pesoSillas" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Luz</td>
                            <td>
                                <input type="text" ng-model="pesoLuz" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" ng_click="cambiarPesos()">Calcular</button>


                            </td>
                        </tr>
                    </table>

                </div>
                <div id="ConfiguracionEstadoGeneral">


                    <div id="mapEstado">
                        <!-- The map is going to fill this div... -->

                    </div>
                 <div id="nivelesAlertas">
                    <h3>Niveles de Alerta</h3>
                    <img src="imagenes/nivelesAlertas.png" alt="">
                </div>
                </div>

                <div id="EstadoDerecho">

                    <div id="graficaCoordenadasParalelas" class="parcoords">

                    </div>
                    <div id="mapasCadauno">
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoPolicia.png" alt="">Policía</h3>
                            <div id="mapaPolicia"><span id="maxoimoPolicias"></span></div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoArbol.png" alt="">Árboles</h3>
                            <div id="mapaArboles">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoCaneca.png" alt="">Basuras</h3>
                            <div id="mapaBasuras">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoEstacion.png" alt="">Acceso</h3>
                            <div id="mapaAcceso">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoJuego.png" alt="">Juegos</h3>
                            <div id="mapaJuegos">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoSilla.png" alt="">Sillas</h3>
                            <div id="mapaSillas">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoLuz.png" alt="">Luz</h3>
                            <div id="mapaLuz">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--  <div id='popUpPoligono'>
            <div id='elementosUsados'>
                <div>
                    <span>Reportes:</span>
                </div>
                <div><img src="imagenes/iconos/iconoPolicia.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoArbol.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoCaneca.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoEstacion.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoJuego.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoSilla.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoLuz.png" alt=""><span>3</span></div>

            </div>
         -->

    </div>
    <script>

    </script>



</body>

</html>
