<html>

<head>
    <!--Local resources -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/leaflet.css" />
    <script src="js/libs/d3.min.js"></script>
    <script src="js/libs/d3.parcoords.js"></script>
    <script src="js/libs/leaflet.js"></script>
    <script src="js/libs/leaflet.label.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/jquery-1.12.3.min.js"></script>
    <script src="js/controllers/form.js"></script>
    <script src="js/controllers/semanasCaso3.js"></script>
    <script src="js/controllers/coreEstado.js"></script>
  

    <script src="/socket.io/socket.io.js"></script>
    <!--estilos -->
    <link rel="stylesheet" href="css/dc.css" />
    <link rel="stylesheet" href="css/estilosHome-Generales.css" />
    <link rel="stylesheet" href="css/leaflet.label.css" />
    <link rel="stylesheet" href="css/estiloEstado.css" />
    <link rel="stylesheet" href="css/d3.parcoords.css" />
    <link rel="stylesheet" href="css/estilosForm.css" rel="stylesheet">




</head>

<body ng-app="my_angular_app">
    <div ng-controller="home_controller">
        <header>
            <h1>Calidad del Espacio público</h1>
            <div id="papaArriba">
                <nav id="barraNavegacion">
                    <a href="index.html">Estado General de la zona</a>
                    <a href="estado.html" id="actual">Estado de las manzanas</a>
                    <a href="monitoreo.html">Alertas Generadas</a>

                </nav>

            </div>
        </header>

        <div id="contenedorPrincipal">
            <div id="categorias">
            </div>
            <button id="reseteoBrushParalel">Resetear</button>
            <!--  <h3>Estado General</h3> -->
            <div id="mapaConReportesEstado">
                <div id="ponderacion">
                    <!-- <h5>Pondere cada una de las categorías:</h5>
                        <p>Asígnele un peso de acuerdo a la importancia que usted quiera darle a cada una de las categorías a analizar y asi ver el estado de cada manzana de acuerdo a ello en el gráfico superior</p> -->
                    <table>
                        <tr>
                            <th colspan="2">Peso ponderado</th>

                        </tr>
                        <tr>
                            <td>Policías</td>
                            <td>
                                <input type="text" id="pesoPolicia" ng-model="pesoPolicia" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Árboles</td>
                            <td>
                                <input type="text" id="pesoArboles" ng-model="pesoArboles" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Basuras</td>
                            <td>
                                <input type="text" id="pesoBasuras" ng-model="pesoBasuras" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Acceso</td>
                            <td>
                                <input type="text" id="pesoAcceso" ng-model="pesoAcceso" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Juegos</td>
                            <td>
                                <input type="text" id="pesoJuegos" ng-model="pesoJuegos" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Sillas</td>
                            <td>
                                <input type="text" id="pesoSillas" ng-model="pesoSillas" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td>Luz</td>
                            <td>
                                <input type="text" id="pesoLuz"  ng-model="pesoLuz" size="3" placeholder="10" value="10">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" ng_click="cambiarPesos()">Calcular</button>


                            </td>
                        </tr>
                    </table>

                </div>
                <div id="ConfiguracionEstadoGeneral">


                    <div id="mapEstado">
                        <!-- The map is going to fill this div... -->

                    </div>
                    <div id="nivelesAlertas">
                        <h3>Niveles de Alerta</h3>
                        <img src="imagenes/nivelesAlertas.png" alt="">
                    </div>
                </div>

                <div id="EstadoDerecho">
                   
                    <div id="timeLineControlEstado">
                        <div id="fechaSeleccion">Seleccionado desde el <span id="desde"></span> hasta el <span id="hasta"></span></div>


                    </div>
                     <h3 class="titulosArriba">Evolución en el tiempo de la manzana</h3>
                    <div id="graficasemanas">

                    </div>
                     <h3 class="titulosArriba">Estado de la manzana en cada categoría</h3>
                    <div id="graficaCoordenadasParalelas" class="parcoords">

                    </div>
                    <div id="mapasCadauno">
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoPolicia.png" alt="">Policía</h3>
                            <div id="mapaPolicia"><span id="maxoimoPolicias"></span></div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoArbol.png" alt="">Árboles</h3>
                            <div id="mapaArboles">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoCaneca.png" alt="">Basuras</h3>
                            <div id="mapaBasuras">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoEstacion.png" alt="">Acceso</h3>
                            <div id="mapaAcceso">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoJuego.png" alt="">Juegos</h3>
                            <div id="mapaJuegos">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoSilla.png" alt="">Sillas</h3>
                            <div id="mapaSillas">
                            </div>
                        </div>
                        <div class="wrapperMapas">
                            <h3><img src="imagenes/iconos/iconoLuz.png" alt="">Luz</h3>
                            <div id="mapaLuz">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Formulario escondido -->
        <div id='fondoOscuro'>

            <div id='divCentrado'>
                <div id='estadoVisualizacion'>
                    <h2>Estado de la visualización</h2>
                    <div id='fechayManzana'>
                        <p id='fecha'>Rango de Fecha:
                            <br><span>Del 24/08/2015 al 30/03/2016</span></p>
                        <p id='manzana'>Manzana Seleccionada: <span>25</span></p>
                    </div>
                    <div id='reportesEnlaManzana'>
                        <p id='reportesEnZona'>Reportes en la manzana seleccionada:</p>
                        <div><img src='imagenes/iconos/iconoPolicia.png' alt=''><span>3</span></div>
                        <div><img src='imagenes/iconos/iconoArbol.png' alt=''><span>3</span></div>
                        <div><img src='imagenes/iconos/iconoCaneca.png' alt=''><span>3</span></div>
                        <div><img src='imagenes/iconos/iconoEstacion.png' alt=''><span>3</span></div>
                        <div><img src='imagenes/iconos/iconoJuego.png' alt=''><span>3</span></div>
                        <div><img src='imagenes/iconos/iconoSilla.png' alt=''><span>3</span></div>
                        <div><img src='imagenes/iconos/iconoLuz.png' alt=''><span>3</span></div>

                    </div>
                    <div id='ponderacionSelecccionada'>
                        <p>Peso ponderado seleccionado</p>
                        <table>

                            <tr>
                                <td>Policías: </td>
                                <td>
                                    <span>20</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Árboles: </td>
                                <td>
                                    <span>0</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Basuras: </td>
                                <td>
                                    <span>0</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Acceso: </td>
                                <td>
                                    <span>0</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Juegos: </td>
                                <td>
                                    <span>0</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Sillas: </td>
                                <td>
                                    <span>0</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Luz: </td>
                                <td>
                                    <span>20</span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div id='datosEnvio'>
                    <h2>Creación de alerta</h2>
                    <form action='#' id='form' method='post' name='form'>
                        <img id='close' src='imagenes/cerrar.png' onclick='esconderFormulario()'>
                        <div id='responsablesAEnviar'>

                            <h3>A los responsables de cuales categorías quiere enviar?</h3>
                            <div>

                                <input type='checkbox' name='CategoriasAEnviar' value='Policias' id='CategoriasAEnviar_0'> <img src='imagenes/iconos/iconoPolicia.png'>

                            </div>
                            <div>

                                <input type='checkbox' name='CategoriasAEnviar' value='arboles' id='CategoriasAEnviar_1'> <img src='imagenes/iconos/iconoArbol.png'>

                            </div>
                            <div>

                                <input type='checkbox' name='CategoriasAEnviar' value='basuras' id='CategoriasAEnviar_2'> <img src='imagenes/iconos/iconoCaneca.png'>

                            </div>
                            <div>

                                <input type='checkbox' name='CategoriasAEnviar' value='estacion' id='CategoriasAEnviar_3'> <img src='imagenes/iconos/iconoEstacion.png'>

                            </div>
                            <div>

                                <input type='checkbox' name='CategoriasAEnviar' value='juegos' id='CategoriasAEnviar_3'> <img src='imagenes/iconos/iconoJuego.png'>

                            </div>
                            <div>

                                <input type='checkbox' name='CategoriasAEnviar' value='sillas' id='CategoriasAEnviar_4'> <img src='imagenes/iconos/iconoSilla.png'>

                            </div>
                            <div>

                                <input type='checkbox' name='CategoriasAEnviar' value='luz' id='CategoriasAEnviar_5'> <img src='imagenes/iconos/iconoLuz.png'>

                            </div>
                        </div>

                        <div id='escrito'>
                            <h3>Mensaje:</h3>
                            <textarea name='mensajeAResponsables' rows='8' id='mensajeAResponsables' placeholder='Escriba su mensaje acá'></textarea>
                        </div>
                        <div id='usuarioyHoy'>
                            <h3>Alerta creada por:</h3>
                            <p id='usuario'>Usuario: <span>Daniel Salamanca</span></p>
                            <p id='fechaHoy'>FEcha de hoy: <span>15/05/2016</span></p>
                        </div>
                        <a id='submit'>enviar</a>
                    </form>
                </div>
            </div>

        </div>
        <!--  <div id='popUpPoligono'>
            <div id='elementosUsados'>
                <div>
                    <span>Reportes:</span>
                </div>
                <div><img src="imagenes/iconos/iconoPolicia.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoArbol.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoCaneca.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoEstacion.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoJuego.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoSilla.png" alt=""><span>3</span></div>
                <div><img src="imagenes/iconos/iconoLuz.png" alt=""><span>3</span></div>

            </div>
         -->

    </div>
    <script>
    </script>



</body>

</html>